footer
    .footer
        a(href="#" data-to-elem="#product-info").service-logo.service-logo--white back to the office
        nav.footer-nav
            ul.footer-nav__list
                li.footer-nav__item
                    a(href="/policy").footer-nav__link Privacy Policy and Terms of Service
            ul.footer-social__list
                li.footer-social__item
                    a(href="https://github.com/orgs/Back-To-The-Office/projects/1" target="_blank").footer-social__link 
                        +icon("github")
                        span GitHub
