header
    .header
        .sandwich
            input(type="checkbox")#menu__toggle
            label(for="menu__toggle").menu-btn
                span
            nav.header-nav
                a(href="#" data-to-elem="#product-info").service-logo.service-logo--header back to the office
                ul.header-nav__list
                    li.header-nav__item
                        a(href="#" data-to-elem="#about").header-nav__link About us
                    li.header-nav__item
                        a(href="#" data-to-elem="#functions").header-nav__link Functions
                    li.header-nav__item
                        a(href="#" data-to-elem="#contacts").header-nav__link Contact Us
        button.g-btn.g-btn--green.open-popup apply for