footer
    .footer
        a(href="/").service-logo.service-logo--white back to the office
        nav.footer-nav
            ul.footer-nav__list
                li.footer-nav__item
                    a(href="/policy").footer-nav__link Privacy Policy and Terms of Service
