// Шапка
@import 'header/header.styl'

//Общие модули
@import "modules/card-item.styl"
@import "modules/sandwich.styl"

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Текст
@import "text/text.styl"

//Заголовки
@import "titles/titles.styl"