extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include index/product-info
	include index/about
	include index/functions
	include index/work
	include index/price
	include index/contacts
	include index/formPopUp
	include index/message-status