.g-btn
    font-size rem(14)
    font-family mediumFont
    width 200px
    padding 16px 0 15px
    background-color transparent
    color mainBlue
    border 2px solid mainBlue
    border-radius 11px
    text-transform uppercase
    cursor pointer
    text-align center
    box-sizing border-box
    transition all linear 0.1s
    &:hover
        color #fff
        border 2px solid mainGreen
        background-color mainGreen

.g-btn--green
    color #fff
    border 2px solid mainGreen
    background-color mainGreen