//COLORS
mainBlue    = #2979ff
mainGreen   = #00e676
textColor   = #10254c
formColor   = #ecf3ff
dangerColor = #BF3030


//SIZES
baseFontSize       = 16px
desktopWidth       = 1280px
mediumDesktopWidth = 1190px
smallDesktopWidth  = 960px
tableWidth         = 768px
bigPhoneWidth      = 480px
smallPhoneWidth    = 320px

//FONTS

thinFont         = 'Roboto-Thin',             Arial, sans-serif
lightFont        = 'Roboto-Light',            Arial, sans-serif
mainFont         = 'Roboto-Regular',          Arial, sans-serif
mainFontWide     = 'Roboto-RegularWide',      Arial, sans-serif
mediumFont       = 'Roboto-Medium',           Arial, sans-serif
mediumItalicFont = 'Roboto-MediumItalic',     Arial, sans-serif
boldFont         = 'Roboto-Bold',             Arial, sans-serif
boldItalicFont   = 'Roboto-BoldItalic',       Arial, sans-serif
italicFont       = 'Roboto-Italic',           Arial, sans-serif
logoFont         = 'Raleway-Bold',            Arial, sans-serif