@import 'index/product-info.styl'
@import 'index/about.styl'
@import 'index/functions.styl'
@import 'index/tab-content.styl'
@import 'index/work.styl'
@import 'index/price.styl'
@import 'index/contacts.styl'
@import 'index/formPopUp.styl'
@import 'index/message-status.styl'