.policy 
    padding 100px 0 
    .section-title 
        margin-bottom 30px
    .sub-title
        margin-bottom 20px
    .low-priority-title
        margin-bottom 10px
    .description-text
        margin-bottom 5px
    a
        color #2979ff
        text-decoration underline