section#about.about
    .container
        h2(wow-delay="2s").section-title.section-title--white.fadeIn.wow About Service
        .about-content
            div(wow-delay="2s").about-left.fadeInLeft.wow
                p.description-text.description-text--white Back to the office is an application which increases accessibility of employees.
                p.description-text.description-text--white All contacts of each team members are in one place. Back to the Office is useful to ask advice from a colleague from another department or urgently contact the accounting department. Employer does not wait for an answer from a manager or colleagues from the chat.
                p.description-text.description-text--white Issues are solved faster, employees communicate directly and share experiences.
            div(wow-delay="2s").about-right.fadeInRight.wow
                img(src="static/img/content/about/contacts.gif")