.formPopUp
    form(action="#" method="post").product-form.form
        .pop-up__header
            h3 Subscribe to the newsletter
            .pop-up-close &times;
        .pop-up__content
            .form__block
                label(for="name-top").form__label your name
                input(type="text" name="name" id="name-top" required).form__input
            .form__block
                label(for="email-top").form__label email
                input(type="email" name="email" id="email-top" required).form__input.email
            p.user-agreement By signing up, I agree to the Back To the Office
                |  
                a(href="/policy") Privacy Policy
                |  and
                |  
                a(href="/policy") Terms of Service.
            <input type="hidden" name="popUp-form" value="popUp-form">
            input(type="submit" value="apply for").g-btn