.message-status.message-status--succsess
    p.messageText Message succsessfuly sended. Thank you!

.message-status.message-status--error
    p.messageText Error. Please, try later.

.message-status.message-status--unvalid
    p.messageText Please, enter a valid email address!