section#product-info.product-info
    .container
        .product-info__content
            div(wow-delay="2s").product-info__left.fadeInLeft.wow
                .product-info__header
                    .product-condition soon
                    .product-status Under development
                h1.main-title
                    | Back To the Office
                    span.product-status Under development
                p.description-text The application for remote work.
                p.description-text Back To the Office will help remote employees to become a part of the team.
                .product-contact
                    p.description-text Send your email and we will inform you when an application is ready.
                button.g-btn.open-form-popup.open-popup apply for
            div(wow-delay="2s").product-info__right.fadeInRight.wow
                img(src="static/img/content/product-info/map.svg")
        a(href="#" data-to-elem="#functions" wow-delay="2s").product-info__more.fadeIn.wow
            span.learn-more learn more
            +icon("dotted-arrow")