section.work
    .container
        h2(wow-delay="2s").section-title.section-title--center.fadeIn.wow Get Started
        .work-stages
            .work-stage(wow-delay="2s").fadeInUp.wow
                .work-stage__graphics
                    .connector
                    .work-stage__icon.active
                        +icon("download")
                    .connector
                .work-stage__content
                    h4.low-priority-title Install
                    p.description-text download and install an 
                    p.description-text application
            .work-stage(wow-delay="2s").fadeInUp.wow
                .work-stage__graphics
                    .connector
                    .work-stage__icon
                        +icon("register")
                    .connector
                .work-stage__content
                    h4.low-priority-title Register
                    p.description-text register and create company
                    p.description-text an account for a
                    p.description-text company
            .work-stage(wow-delay="2s").fadeInUp.wow
                .work-stage__graphics
                    .connector
                    .work-stage__icon
                        +icon("invitation")
                    .connector
                .work-stage__content
                    h4.low-priority-title Invite Employees
                    p.description-text send invitations to 
                    p.description-text employees 
            .work-stage(wow-delay="2s").fadeInUp.wow
                .work-stage__graphics
                    .connector
                    .work-stage__icon
                        +icon("tick")
                    .connector
                .work-stage__content
                    h4.low-priority-title Use
                    p.description-text now you can 
                    p.description-text create teams and
                    p.description-text use the servise
