.functions-content__item.company-structure-tab
    h3.sub-title Structure of the Company 
    .tab-content
        .tab-content__left
            p.description-text The company is shown as a tree structure which consists of teams.
            p.description-text Developer will find colleague from frontend department fast due to teams function display.
            p.description-text In the case if the deadline comes soon and there isn’t any answers in the common chat, contact directly. 
        .tab-content__right
            video(src="static/img/content/features/tree.mp4" autoplay=true loop=true muted="muted")