.functions-content__item.teams-tab
    h3.sub-title Teams
    .tab-content
        .tab-content__left
            p.description-text Employees are divided into teams in Back to the Office application.  The position, method of communication and working hours are dislayed in each team member.
            p.description-text It increases employees communicative availability and allows them to find each other faster. 
            p.description-text Back to the Office lets beginners to accustom to the team better.
        .tab-content__right
            video(src="static/img/content/features/teams.mp4" autoplay=true loop=true)