.functions-content__item.time-zones-tab
    h3.sub-title Time Zones
    .tab-content
        .tab-content__left
            p.description-text The graph shows time which employee has in different time zones. It will help all large companies departments to socialize around the world.
            p.description-text Employees don't waste any time figuring out with Google "What time is it in Moscow now?». A single button is used to find out this information in Back to the Office.
        .tab-content__right
            video(src="static/img/content/features/time_zones.mp4" autoplay=true loop=true)