footer 
    width 100%
    background-color mainBlue

.footer
    width 100%
    max-width 1320px
    padding 20px 40px
    margin 0 auto
    .service-logo--policy
        display inline-block
        margin-bottom 10px

.footer-nav__list
    display flex
    flex-direction column
    justify-content space-between

.footer-nav__link
    color #fff
    &:hover
        text-decoration underline

.footer-social__list
    display flex
    flex-direction column
    justify-content space-between

.footer-social__link
    color #fff
    display flex
    align-items flex-end
    line-height 1
    &:hover
        text-decoration underline
    .icon
        fill #fff
        margin-right 10px
        size(20px)