.main-title
    white-space nowrap
    font-family boldFont
    color textColor
    font-size rem(48)
    position relative
    margin-bottom 40px
    @media screen and (max-width tableWidth)
        font-size rem(36)
        margin-bottom 30px

.section-title
    font-family boldFont
    color textColor
    font-size rem(48)
    text-align center
    margin-bottom 100px
    @media screen and (max-width tableWidth)
        text-align left
        font-size rem(34)
        margin-bottom 30px

.section-title--white
    color #fff

.sub-title
    font-family boldFont
    color textColor
    font-size rem(34)
    text-align center
    @media screen and (max-width tableWidth)
        font-size rem(28)


.low-priority-title
    color textColor
    font-family mainFont
    font-size rem(24)
    @media screen and (max-width smallDesktopWidth)
        font-size rem(20)

.low-priority-title--white
    color #fff