.description-text
    color textColor
    line-height 1.5
    letter-spacing 0.15px

.description-text--white
    color #fff

.contacts-text
    color textColor
    font-size rem(24)
    text-align center
    display block
    @media screen and (max-width tableWidth)
        font-size rem(20)