.tab-list
    display flex
    justify-content space-between
    @media screen and (max-width mediumDesktopWidth)
        flex-direction column
        align-items center

.card-item
    background-color #fff
    padding 40px 40px 30px
    width 360px
    height 385px
    border-radius 16px
    cursor pointer
    transition all linear 0.2s
    box-shadow 0px 40px 30px -15px rgba(#000, 0.11)
    &.active
        .description-text
            transition all linear 0.2s
            color #fff
        .tab-title
            transition all linear 0.2s
            color #fff
    @media screen and (max-width mediumDesktopWidth)
        width 100%
    @media screen and (max-width bigPhoneWidth)
        height 330px
        padding 20px 20px 30px